/* --------------------------
パソコン版スマホ版共通CSSです。
---------------------------*/

.button {
    background-color: beige;
    color: brown;
    border-radius: 3px;
    box-shadow: 1px 1px 10px lightgray;
    font-weight: bold;
    padding: 0.5em;
    width: 100px;
}

.main-content {
    max-width: 800px;
    margin: auto;
    min-height: 100vh;
    padding: 70px 0;

}

.daily__img {
    width: 600px;
}

.blog__button {
    margin: auto;
}

.post {
    background-color: #fafafa;
    display: flex;
    margin: 1em 0;
}

.post__content {
    padding: 1em;
}
}

.post__title {
    color: #070707;
    font-size: 20px;
    text-align: left;
}

.post__text {
    line-height: 1.5em;
}

.post__img {
    width: 360px;
    height: 100%;
    object-fit: cover;
}

.card-box {
    display: flex;
    flex-wrap: wrap;

}

.card {
    background-color: #fafafa;
    border-radius: 5px;
    box-shadow: 1px 1px 10px gray;
    margin: 1em;
    padding: 1em;


}